.hero {
    background: var(--white);
}

.inner-hero {
    max-width: var(--max-width-default);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-bottom: 10%;
}

.left-hero {
    display: grid;
    padding: 10% 25% 10% 5%;
}

.right-hero {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.text-section {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.hero-video {
    max-width: 900px;
    height: auto;   
    cursor: pointer;
}

.hero-video-mobile {
    cursor: pointer;
    display: none;
}

.watch-video {
    width:100px;
    height:100px;
}

.headline {
    line-height: 55px;
    color: #253139;
}

.subheadline {
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #757575;
    padding-right: 5px;
}

.subheadlineMobile {
    display: none;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #757575;
}

.button-container {
    display: grid;
    padding-top: 5%;
    gap: 30pt;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.quote-button {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 10%;
    text-align: center;
    padding: 8px 22px;
    line-height: 19px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.quote-button:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    transition: 0.7s;
}

.showreel-area {
    width: 11.5rem;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    padding-top: 8%;
    align-items: center;
    align-content: flex-start;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 10pt;
}
.showreel-button {
    cursor: pointer;
}

.showreel-text {
    flex: 1;
    cursor: pointer;
}

.modal-close-button {
    width: max-content;
    height: max-content;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--orange);
    position: relative;
    top: 20px;
    left: 970px;
    font-size: 40px;
}

.dialog-container {
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
}

.video-container {
    z-index: 9992;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 964px;
}

@media (min-width: 320px) and (max-width: 736px) {
    .inner-hero {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 0;
    }
    .left-hero {
        padding-right: 5%;
        padding-bottom: 0;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100%;
    }
    .button-container {
        /* display: flex; */
        padding-left: 8%;
        padding-right: 10%;
        gap: 0;
    }
    .right-hero {
        display: block;
        padding-left: 0;
    }
    .hero-video {
        display: none;
    }
    .hero-video-mobile {
        padding-top: 30px;
        display: block;
        width: 400px;
        height: auto;
    }
    .watch-video {
        width:80px;
        height:80px;
    }
    .text-section {
        padding-right: 10%;
    }
    .headline {
        line-height: 1.2;
        font-size: 35px;
    }
    .subheadline {
        display: none;
    }
    .subheadlineMobile {
        display: block;
    }
    .showreel-area {
        width: 4.5rem;
        /* padding-top: 20%; */
    }
    .showreel-text {
        display: none;
    }
}

@media (min-width: 738px) and (max-width: 1112px) and (orientation:portrait) {
    .inner-hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 5%;
    }
    .left-hero {
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 90%;
        padding: 2% 25% 3% 5%;
    }
    .right-hero {
        display: block;
        padding-left: 0;
    }
    .hero-video {
        width:790px;
        height:450px;
    }
    .button-container {
        padding: 5% 5% 0 25%;
        gap: 0;
    }
    .watch-video {
        width:90px;
        height:90px;
    }
}

@media (min-width: 738px) and (max-width: 1112px) and (orientation:landscape) {
    .inner-hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 5%;
    }

    .left-hero {
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 80%;
        padding: 2% 25% 2% 10%;
    }

    .right-hero {
        display: block;
        padding-left: 0;
    }

    .hero-video {
        width: 950px;
        height: 500px;
    }

    .button-container {
        padding: 3% 5% 0 25%;
        gap: 0;
    }
}

@media (min-width: 2560px) {
    .inner-hero {
        max-width: 2000px;
    }
}