.hero {
    background: var(--white);
}

.inner-hero {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    padding-bottom: 10%;
}

.left-hero {
    display: grid;
    padding: 10% 25% 10% 5%;
}

.right-hero {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.text-section {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.headline {
    line-height: 55px;
    text-transform: capitalize;
    color: #253139;
}

.subheadline {
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #757575;
    padding-right: 5px;
}

.button-container {
    display: grid;
    padding-top: 5%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.quote-button {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 10%;
    text-align: center;
    padding: 8px 22px;
    line-height: 19px;
    letter-spacing: 0.5px;
}

.quote-button:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    transition: 0.7s;
}

.showreel-area {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    padding-top: 8%;
    align-items: center;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
}
.showreel-element {
    flex: 1;
    width: 90px;
}

@media (min-width: 320px) and (max-width: 736px) {
    .left-hero {
        padding-right: 5%;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100%;
    }
    .text-section {
        padding-right: 10%;
    }
    .headline {
        line-height: 25px;
        font-size: 25px;
    }
    .button-container {
        padding-top: 0;
        padding-left: 10%;
        gap: 0;
    }
    .showreel-element {
        width: 60px;
    }
}

@media (min-width: 738px) and (max-width: 1112px) {
    .inner-hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-bottom: 5%;
    }
    .left-hero {
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 90%;
    }
    .hero-image {
        padding: 0 4%;
    }
    .button-container {
        padding-top: 0;
        padding-left: 25%;
        padding-right: 15%;
        gap: 0;
    }
}