.container {
    background: white;
    padding-top: 5%;
}
.container2 {
    background: white;
}
.inner-container {
    max-width: var(--max-width-default);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.title-section {
    text-align: center;
}

.title-part1 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--black);
}

.title-part2 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--orange);
}

.subtitle-container {
    width: 50%;
    margin: 0 auto;
}

.subtitle {
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--gray);
}

.video-section {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
    margin: 0 auto;
}

.video-image {
    height: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: transform .5s;
}

.video-image:hover {
    opacity: .7;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.play-button {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 40%;
    left: 40%;
    /* z-index: 9; */
    background: url(../../images/Play\ Button.svg);
}


.button-container {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.more-work-button {
    background-color: var(--orange);
    color: #FFFFFF;
    font-family: 'Lato Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.46px;
    width: 190px;
    padding: 8px 32px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.more-work-button:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    transition: 0.7s;
}

@media (min-width: 320px) and (max-width: 736px) {
    .subtitle-container {
        width: 100%;
    }
    .video-section {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 738px) and (max-width: 1112px) {
    .subtitle-container {
        width: 77%;
    }
    .video-section {
        grid-template-columns: repeat(2, 1fr);
    }
}   

@media (min-width: 2560px) {
    .inner-container {
        max-width: var(--max-width-large-display);
    }
}