.container {
    padding-top: 5%;
}

.inner-container {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.title-section {
    text-align: center;
}

.title {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--black);
}

.subtitle-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--gray);
}

.logo-section {
    display: grid;
    max-width: 1500px;
    justify-items: center;
    /* grid-template-columns: repeat(3, 1fr); */
    padding-top: 30px;
    margin: 0 auto;
    background: var(--light-orange);
}

@media (min-width: 320px) and (max-width: 736px) {
    .subtitle-container {
        width: 90%;
    }
}