.nav {
    display: flex;
    position: absolute;
    width: 410px;
    height: 18px;
    left: 511px;
    top: 30.5px;
}

.nav-links {
    display: flex;
    position: relative;
    width: 65px;
    height: 18px;
    left: 88px;
    list-style-type: none;
}

.nav-link-item-home {
    position: absolute;
    width: 58px;
    height: 18px;
    left: 0px;
    top: 2.5px;
}

.nav-link-item-work {
    position: absolute;
    width: 65px;
    height: 18px;
    left: 88px;
    top: 2.5px;
}

.nav-link-item-process {
    position: absolute;
    width: 84px;
    height: 18px;
    left: 183px;
    top: 2.5px;
    color: black
}

.nav-link-item-reviews {
    position: absolute;
    width: 58px;
    height: 18px;
    left: 255px;
    top: 2.5px;
}

.nav-link-text {
    display: flex;
    position: absolute;
    left: 0%;
    right: -13.85%;
    top: -2.78%;
    bottom: -2.78%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.2px;

    /* systemGrey/800 */
    color: #424242;
}