.container {
    background: #FFD5C1;
}

.inner-container {
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    margin: 0 auto;
}

.image-section {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.section-image {
    max-width: 100%;
    height: auto;
}

.text-section {
    display: grid;
    margin: 0 auto;
    padding-left: 40px;
    justify-content: center;
    align-content: center;
    max-width: 510px;
}

.section-text-head-part1 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--black);
}

.section-text-head-part2 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--orange);
}

.section-text-sub {
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--gray);
    white-space: pre-line;
}

@media (max-width: 768px) {
    .text-section {
        padding: 10% 5% 10% 5%;
        justify-content: center;
        align-content: center;
        line-height: 22px;
    }
}
