.hero {
    background: #FFFFFF;
}

.inner-hero {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.left-hero {
    padding: 10% 25% 10% 5%;
}

.right-hero {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.headline {
    line-height: 55px;
    text-transform: capitalize;
    color: #253139;
}

.subheadline {
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #757575;
    padding-right: 5px;
}

.button-container {
    display: grid;
    padding-top: 5%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.quote-button {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 10%;
    align-items: center;
    padding: 8px 22px;
    width: 180px;
    height: 45px;
    border: 0;
    background-color: #EF5026;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.46px;
}

.showreel-area {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    padding-top: 8%;
    align-items: center;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
}
.showreel-element {
    flex: 1;
    width: 90px;
}

@media (max-width: 768px) {
    .left-hero {
        padding: 10% 5% 10% 5%;
        justify-content: center;
        align-content: center;
        text-align: center;
        width: 100%;
    }
    .headline {
        line-height: 25px;
        font-size: 25px;
    }
}  