.container {
    background: white;
}

.inner-container {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
}

.title-section {
    text-align: center;
}

.title-part1 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--black);
}

.title-part2 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--gray);
    text-decoration-line: line-through;
}

.title-part3 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--orange);
}

.title-part4 {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--black);
}

.subtitle-container {
    width: 50%;
    margin: 0 auto;
}

.subtitle {
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--gray);
}

.video-section {
    display: grid;
    max-width: 1500px;
    grid-gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
    margin: 0 auto;
}

.video-image {
    height: 100%;
    max-width: 100%;
}

.video-image:hover {
    opacity: .7;
}

.play-button {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 40%;
    left: 40%;
    z-index: 9;
    background: url(../images/Play\ Button.svg);
}

.more-work-button {
    background-color: #EF5026;
    color: #FFFFFF;
    font-family: 'Lato Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.46px;
}

@media (min-width: 320px) and (max-width: 736px) {
    .subtitle-container {
        width: 100%;
    }
    .video-section {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 738px) and (max-width: 1112px) {
    .subtitle-container {
        width: 77%;
    }
    .video-section {
        grid-template-columns: repeat(2, 1fr);
    }
}    