
.container {
    background: #FFD5C1;
    margin-top: -3%;
}

.inner-container {
    max-width: var(--max-width-default);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    padding-bottom: 2%;
    padding-top: 8%;
    margin: 0 auto;
    grid-gap: 20px;
}

.icon-section {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    grid-gap:20px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
    row-gap: 40px;
    text-align: center;
}

.icon {
    width: 100%;
    height: auto;
    display: block;
    transition: transform .3s;
}

.icon:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.icon1 {
    padding-top: 8%;
    margin: 0 auto;
}

.icon2 {
    margin: 0 auto;
}

.icon3 {
    padding-top: 6%;
    margin: 0 auto;
}

.icon4 {
    padding-top: 3%;
    margin: 0 auto;
}

.icon5 {
    margin: 0 auto;
}

.icon6 {
    padding-top: 3%;
    margin: 0 auto;
}

.caption {
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--orange);
}

.text-section {
    display: grid;
    margin: 0 auto;
    padding-left: 10%;
    justify-content: center;
    align-content: center;
}

.head-text {
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--orange);
    white-space: pre-line;
}

.sub-text{
    padding-right: 8%;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #757575;
    white-space: pre-line;
}

@media (min-width: 320px) and (max-width: 736px) {
    .container {
        margin-top: -18%;
    }
    .inner-container {
        padding-bottom: 0;
    }
    .text-section{
        padding-left: 10%;
        border: 20px solid var(--light-orange);
        background: var(--white);
    }
    .head-text {
        white-space: normal;
    }
    .sub-text{
        padding-right: 10%;
        white-space: pre-line;
    }
    .icon-section {
        padding-left: 10%;
        padding-right: 0;
        row-gap: 0;
        text-align: left;
    }
    .icon {
        width: 60%;
    }    
}

@media (min-width: 738px) and (max-width: 1112px) {
    .container {
        margin-top: 0;
    }
    .inner-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        padding: 6% 2% 2% 2%;
        margin: 0 auto;
        grid-gap: 20px;
    }
    .head-text {
        white-space: normal;
    }
    .icon-section {
        row-gap: 0;
    }
    .icon3 {
        padding-top: 15%;
    }
}

@media (min-width: 2560px) {
    .inner-container {
        max-width: var(--max-width-medium-display);
    }
}