.rectangle {
    display: flex;
    flex-direction: column;
}

.section-text-head {
    font-family: 'Coda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;

    color: #253139;
}