.overlay {
    position: relative;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(239, 80, 38, 0.4);
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
    margin-bottom: -60px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
    z-index: 10;
}

.number-area {
    align-items: center;
}

.number {
    font-family: 'Coda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 71px;
    letter-spacing: -0.07em;
    color: #253139;
    text-align: center;
}

.content {
    font-family: 'Lato Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #757575;
}

.gradient-line {
    width: 5px;
    height: 100px;
    background: linear-gradient(180deg, #EF5026 0%, #FFFFFF 100%);
}

@media (max-width: 600px) {
    .gradient-line {
        width: 100px;
        height: 5px;
    }
}

@media (min-width: 1024px) {
    .content {
        white-space: pre-line;
    }
}



