.overlay {
    position: relative;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(239, 80, 38, 0.4);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -8%;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* padding: 10px 10px; */
    z-index: 10;
}

.number-area {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding-top: 1%;
}

.number {
    font-family: 'Coda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.07em;
    color: #253139;
    text-align: center;
}

.content {
    font-size: 0.8rem;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #757575;
    white-space: pre-line;
}

.gradient-line {
    width: 5px;
    height: 100px;
    background: linear-gradient(180deg, var(--orange) 0%, var(--white) 100%);
}

@media (min-width: 320px) and (max-width: 736px) {
    .overlay {
        display: none;
    }
}

@media (min-width: 738px) and (max-width: 1112px) {
    .overlay {
        display: none;
    }
    .content {
        padding-left: 10px;
    }
}

